<link rel="stylesheet" href="/css/user_profile.css">
        <h1>Social Networking User Profile <%= title%></h1>



        <% if(user.id==profile_user.id) { %>
<!--    
if user matches show the form else show the profile information -->
                <form action="users/update/<%= profile_user.id%>" method="POST">
                <input type="text" name="name" placeholder="Enter Updated name" value="<%= profile_user.name %>" required>
                <input type="text" name="email" placeholder="Enter Updated email" value="<%= profile_user.email %>" required>
                <input type="submit" value="Update">
                </form>

                <% } else { %>

                        <p><%= profile_user.name%></p>

        
                        <p><%= profile_user.email%></p>

                        <% } %>